.first_screen
	background-image url(../img/Ancient.jpg)
	background-size cover
	background-repeat no-repeat
	background-position center
	background-attachment fixed
	.jumbotron
		overflow hidden
		margin-top 5%