.fourth_screen
	padding 4% 0
	h3
		margin 0 0 40px
		font-size 26px
		font-weight 900

	h4
		font-weight 900
		margin-top 20px
		font-size 22px
	.row
		overflow hidden
		.col-md-3
			width 27.333%
	.img-thumbnail
		display block
		margin 0 auto
.glyphicon.glyphicon-arrow-right,
.glyphicon.glyphicon-arrow-down
	color brown
	text-align center
	font-size 34px
	margin-top 190px
	
.glyphicon.glyphicon-arrow-down
	display none
	margin 20px 0