@media (max-width: 1201px)
	.one_line
		margin-bottom 10px

@media (max-width: 1024px)
	.first_screen .container
		width 91%
@media (max-width: 980px)
	.first_screen .col-md-8
		float left







@media (max-width: 768px)
	.col-md-1.text-center
		width 100%
	.glyphicon.glyphicon-arrow-down
		display block
	.glyphicon.glyphicon-arrow-right
		display none