@media (max-width: 1201px)
	.one_line
		margin-bottom 10px

@media (max-width: 1024px)
	.first_screen .col-md-8
		min-height: 475px
	.first_screen .container,
	.mail_screen .jumbotron
		width 91%
	.form-group
		width 75%
		margin 0 auto
		
@media (max-width: 980px)
	.first_screen .col-md-8,
	#with_geshe .col-md-4,
	.seventh_screen .col-md-4
		float left
		.pull-right
			margin-right 15px
			margin-bottom 10px
	.first_screen .col-md-8
		height 394px
	#with_geshe .col-md-8
		float none
		width auto
	.col-md-1.text-center
		width 100%
	.glyphicon.glyphicon-arrow-down
		display block
	.glyphicon.glyphicon-arrow-right
		display none
	.rel .col-md-4 .text-center
		width 80%
		margin 0 auto
	.hosL
		top 24px
	.video iframe, .video img, .video video
		width 100%
		margin 0 auto
		height 315px
	.video__play
		width 150px
		height 100px
		&:after
			border-width 30px 0 30px 54px
	.ninth_screen .jumbotron
		width 100%
	.last_form
		width 70%
		
@media (max-width: 900px)
	.first_screen .col-md-8
		width 100%
		display block
		height auto
	.eighth_screen
		h3
			margin 10px 0 0

@media (max-width: 768px)
	.video
		width: 60%
	.video__play
		width 75px
		height 65px
		&:after
			border-width: 15px 0 15px 35px;

@media (max-width: 640px)
	.hosL
		display none

@media (max-width: 600px)
	.seventh_screen
		.col-md-4
			max-width 47%

@media (max-width: 480px)
	.first_screen .col-md-8 {
		height: auto
	}

	.first_screen,
	.mail_screen,
	.ninth_screen
		background-attachment scroll
	.itabl .row
		padding 0 10px
	#with_geshe .col-md-4
		float none
		.pull-right
			float none !important
			display block
			margin 0 auto 20px
	#lead.lead
		text-align center
		line-height 1.2
	.video iframe, .video img, .video video
		height 215px
	.video__play
		width: 70px
		height: 55px	
		&:after
			border-width: 17px 0 17px 34px
	.rel
		.row
			display block
			margin 0
			.col-md-4
				min-width 100%
				max-width 100%
				margin-bottom 20px
	.seventh_screen 
		.col-md-4
			width: auto;
			float: none;
			margin: 0 auto 20px;
			.pull-right
				float none !important
		.col-md-8
			h4
				text-align center
	#lesson_1_img, #lesson_2_img
		min-height 215px
	.video
		width 100%
		
@media (max-width: 360px)
	.container
		width 91%
	.first_screen .jumbotron h1
		font-size 32px
		margin 5px 0
	.first_screen .jumbotron h2
		font-size 22px
	.seventh_screen .col-md-4
		max-width 80%
	.itabl .row
		padding 0 16px
	.video iframe, .video img, .video video
		width 100%
	.last_form
		width 100%
@media (max-width: 360px)
	.container
		width 100%