.ninth_screen
	background-image url(../img/prosto-poprobuj.jpg)
	background-repeat no-repeat
	background-position center
	background-size cover
	background-attachment fixed
	padding-bottom 10px
	.jumbotron
		overflow hidden
		margin-top 5%
		background-color rgba(#fff,.97)
		box-shadow 0 0 5px rgba(#000, .3)