.second_screen
	padding 5% 0
	
.lead#lead
	margin-top 1.5%
	color brown_h1
	line-height 1.7
	text-transform uppercase


.lead.text-center
	font-weight 900
	margin-top 3%
	
.lead.text-center + a
	display block
	color brown_h1
	
.panel-heading
	h3
		margin 10px 0
