<!DOCTYPE html>
html(lang="ru-RU")
	include pug/header
	body
		include pug/first_screen
		include pug/second_screen
		include pug/third_screen
		include pug/fourth_screen
		include pug/mail_screen
		include pug/sixth_screen
		include pug/seventh_screen
		include pug/scripts