<!DOCTYPE html>
html(lang="ru-RU")
	include pug/header
	link(rel="stylesheet", href="css/table.css")
	body
		section.pay_first_screen
			.container
				.jumbotron
					h1 Мини-курс “Кармический менеджмент: основные инструменты”
					h2 4 занятия по 60 минут + поддержка и практика в фейсбук-группе
					.dates
						p 
							span Даты: &nbsp;
							| 9 (сб), 12 (вт), 14 (чт), 16 (сб) сентября 
							br 
							span Время: &nbsp;
							| вт, чт 20-00 мск, сб 14-00 мск
					p.text-center По прошествии всего 7-ми дней Вы умело используете основные инструменты кармического менеджмента для решения Ваших проблем и достижения целей!
		section.second_screen
			.container
				h3.text-center Вы узнаете:
				.row
					.col-md-6
						ul
							li 
								span откуда на самом деле берётся всё в вашей реальности 
							li 
								span каковы истинные причины долгов, одиночества, болезней, депрессий, недостатка денег, времени, любви, счастья и любых неудач и проблем
							li 
								span как получить желаемое в любой сфере: деньги, здоровье, отношения, самореализация, счастье и внутренняя гармония и др.
							li 
								span как создать счастливый, благополучный мир вокруг
							li 
								span откуда в Вашей жизни и жизни Ваших близких нехватка денег, потери и как это изменить?
							li 
								span почему Вы и ваши близкие болеете, испытываете нехватку энергии или несчастные случаи?
							li 
								span в чём истинная причина измен и нескладывающихся отношений, и как создать отношения на 100% гармоничные для обоих партнёров?
							li 
								span почему Вас и Ваших близких обманывают, не уважают, не слушают, игнорируют?
							li 
								span почему распадаются отношения?
							li 
								span почему терпят неудачу Ваши проекты и планы?
					.col-md-6
						ul
							li 
								span почему Вам отказываются помогать?
							
							li 
								span почему в Вашем окружении много конфликтов и неприятных людей?
							li 
								span почему мы сталкиваемся с реальностью войны и другими опасностями?
							li 
								span почему Ваши дети/партнёры/друзья и др. ведут себя неправильно?
							li 
								span в чём истинная причина Ваших страхов, депрессии, неуверенности и как с ними справиться?
							li 
								span как уменьшить количество проблем не только в своей жизни, но и в мире?
							li 
								span 4 закона созревания ментальных семян
							li 
								span 4 способа как ментальные семена могут открыться в Вашей жизни
							li 
								span 4 шага по засеву ментальных семян для гарантированного получения результата
							li 
								span практику по нейтрализации старых плохих семян
							li 
								span 4 медитации для изменения мира вокруг Вас через Ваше сознание
				.row
					.col-md-12
						br
						h3.text-center Результат:
						ul
							li 
								span Вы получаете ключ к устройству мира и сможете изменять Вашу реальность в любом желаемом направлении
							li 
								span Вы получаете ответы на давно мучавшие Вас вопросы, а также важные осознания
							li 
								span Ваша жизнь становится более благополучной, уходят “неразрешимые” проблемы и Вы достигаете даже труднодостижимых целей
							li 
								span Вы начинаете применять полученные знания прямо в ходе интенсива и получаете в этом поддержку и корректировку коучей проекта
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic")
		.third_screen
			.container
				.row
					.col-md-4
						img(src="img/key.jpg", alt="100% управление жизнью" class="img-thumbnail")
						h4.text-center Ключ
						p.text-center Вы получаете ключ к устройству мира и сможете изменить Вашу реальность в любом желаемом направлении
					.col-md-4
						img(src="img/questions.jpg", alt="100% управление жизнью" class="img-thumbnail")
						h4.text-center Ответы
						p.text-center Вы получаете ответы на давно мучавшие Вас вопросы, а также важные осознания
					.col-md-4
						img(src="img/answer.jpg", alt="100% управление жизнью" class="img-thumbnail")
						h4.text-center Решения
						p.text-center Ваша жизнь становится более благополучной, уходят "неразрешимые проблемы" и Вы достигаете даже труднодостижимых целей
		section.pay_table#table
			.container
				h3.text-center Выберите свой пакет
				.table_container
					table.table.table-responsive
						thead.thead
							tr
								th
									h4 Состав пакета
								th#silver
									h4 Серебро
								th#gold
									h4 Золото
								th#diamond
									h4 Диамант
						tbody
							tr
								td
									p 4 занятия онлайн
								td
									p.yes Да
								td
									p.yes Да
								td
									p.yes Да
							tr
								td
									p Записи занятий
								td
									p.yes Да
								td
									p.yes Да
								td
									p.yes Да
							tr
								td
									p Поддержка, воодушевление, ответы на вопросы в группе в фейсбуке
								td
									p.yes Да
								td
									p.yes Да
								td
									p.yes Да
							tr
								td
									p 2 консультации Ольги Авсон (Сильвер две по 0,5ч, Диамант две по *1ч)
								td.no
									p Нет
								td
									p.yes Да
								td
									p.yes Да
							tr
								td
									p Билет на семинар геше Майкла Роуча в Киеве 22-23 сентября
								td.no
									p Нет
								td.no
									p Нет
								td
									p.yes Да
							tr
								td
									p.alert.big Цена до ___ августа
								td
									p.deleted 25 дол.
									p 19 дол.
									a(href="" target="_blank" class="btn btn-success") Выбрать
								td
									p.deleted 100дол.
									p 90 дол.
									a(href="" target="_blank" class="btn btn-success") Выбрать
								td
									p.deleted 500дол.
									p 470дол.
									a(href="" target="_blank" class="btn btn-success") Выбрать

				p.alert Оплатившим в течение первых 2-х часов после эфира подарок: дополнительное живое онлайн-занятие с Ольгой Авсон для ответа на Ваши вопросы по поводу Ваших ситуаций и практики КМ !!!
				p.text-center 10% от собранных оплат мы отправим на поддержку проекта сохранения наследия Тибета (ACIP) и иные благотворительные цели
		section.seventh_screen
			.container
				h3.text-center АВТОР и ВЕДУЩАЯ
				.col-md-4
					img(src="img/olga.jpg", alt="Ольга Авсон" class="img-thumbnail pull-right")
				.col-md-8
					h4 Ольга Авсон
					ul.lead
						li 
							span лайф-коуч;
						li 
							span переводчик учений Института азиатской классики;
						li 
							span продюсер и спикер конференций и фестивалей;
						li 
							span имеет 2 ступень Reiki Usui Shiki Ryoho;
						li 
							span сертификат 6-й ступени Института алмазного огранщика (США);
						li 
							span обучалась в Институте азиатской классики, в ашраме Сатья Саи Бабы, у тибетского монаха Геше Майкла Роуча по линии от Будды и Далай Лам;
						li 
							span Магистр Кембриджского университета, кандидат наук;
						li 
							span Ведет международную группу «Кармический менеджмент», коллективные медитации
		section.eighth_screen
			.container
				h3.text-center 6 видео-ОТЗЫВов
				.row
					.col-md-4
						h4.text-center.one_line За 1 год купили квартиру
							br
							small (отзыв Марины Хмеловской, Украина)
						.video.js-video(data-youtube="2sjpq9opONo")
							img.img-thumbnail.video__img(src="img/marina.jpg", alt="Марина Хмеловская")
							button.video__play(type="button")
					.col-md-4
						h4.text-center Быстро нашла работу в чужой стране
							br
							small (отзыв Ксении Осауленко, Германия)
						.video.js-video(data-youtube="VDdyE1GuTxQ")
							img.img-thumbnail.video__img(src="img/ksenia.jpg", alt="Ксения Осауленко")
							button.video__play(type="button")
					.col-md-4
						h4.text-center Улучшились разные сферы жизни
							br
							small (отзыв Зебо Абдулаевой, Дания)
						.video.js-video(data-youtube="RNQr9hmwtBc")
							img.img-thumbnail.video__img(src="img/zebo.jpg", alt="Зебо Абдулаева")
							button.video__play(type="button")
				.row
					.col-md-4
						h4.text-center Нашёл “вторую половинку”, создал семью
							br
							small (отзыв Благовеста Белчева, Болгария)
						.video.js-video(data-youtube="e1vGtcyxPSc")
							img.img-thumbnail.video__img(src="img/blagovest.jpg", alt="Благовест Белчев")
							button.video__play(type="button")
					.col-md-4
						h4.text-center Доходы бизнеса стабилизировались
							br
							small (отзыв Сергея Николайчука, Украина)
						.video.js-video(data-youtube="Jvie3-Dpu7c")
							img.img-thumbnail.video__img(src="img/sergey.jpg", alt="Сергей Николайчук")
							button.video__play(type="button")
					.col-md-4
						h4.text-center.one_line Получила важные осознания
							br
							small (отзыв Надежды Коротковой, Украина)
						.video.js-video(data-youtube="aE0jXIM31Ms")
							img.img-thumbnail.video__img(src="img/nadejda.jpg", alt="Надежда Короткова")
							button.video__play(type="button")
		section.low_screen
				.container
					.jumbotron#with_geshe
						h3.text-center Результат: $100 млн. ежегодно!
						.col-md-4
							img(src="img/GMR.jpg", alt="Майкл Геше Роуч" class="img-thumbnail pull-right" id="geshe")
						.col-md-8
							p.lead#lead Помните, что помощью этих знаний простой монах, с нуля - без бизнес-образования, навыков, связей и стартового капитала - смог организовать алмазную компанию с годовым доходом 250 млн.дол.США! Компания ежегодно удваивала размер своих доходов, что беспрецедентно для этой индустрии. И всего этого он достиг только благодаря следованию принципам древней Алмазной мудрости Тибета, которые он изучил в монастыре. И теперь он передает эти мощнейшие знания нам!!
						.clearfix
						a(href="#table").btn.btn-danger.to-table Оформить пакет!
	include pug/footer
	include pug/scripts