<!DOCTYPE html>
html(lang="ru-RU")
	include pug/header_2
	body
		section.pay_first_screen
			.container
				.jumbotron
					h1 Мини-курс “Кармический менеджмент: основные инструменты”
					h2 4 занятия по 60 минут + поддержка и практика в фейсбук-группе
					.dates
						p 
							span Даты: &nbsp;
							| 9 (сб), 12 (вт), 14 (чт), 16 (сб) сентября 
							br 
							span Время: &nbsp;
							| вт, чт 20-00 мск, сб 14-00 мск
					p.text-center По прошествии всего 7-ми дней Вы умело используете основные инструменты кармического менеджмента для решения Ваших проблем и достижения целей!
					h3 Вы узнаете: 
					ul
						li 
							span откуда на самом деле берётся всё в вашей реальности 
						li 
							span каковы истинные причины долгов, одиночества, болезней, депрессий, недостатка денег, времени, любви, счастья и любых неудач и проблем
						li 
							span как получить желаемое в любой сфере: деньги, здоровье, отношения, самореализация, счастье и внутренняя гармония и др.
						li 
							span как создать счастливый, благополучный мир вокруг
						li 
							span откуда в Вашей жизни и жизни Ваших близких нехватка денег, потери и как это изменить?
						li 
							span почему Вы и ваши близкие болеете, испытываете нехватку энергии или несчастные случаи?
						li 
							span в чём истинная причина измен и нескладывающихся отношений, и как создать отношения на 100% гармоничные для обоих партнёров?
						li 
							span почему Вас и Ваших близких обманывают, не уважают, не слушают, игнорируют?
						li 
							span почему распадаются отношения?
						li 
							span почему терпят неудачу Ваши проекты и планы?
						li 
							span почему Вам отказываются помогать?
						li 
							span почему в Вашем окружении много конфликтов и неприятных людей?
						li 
							span почему мы сталкиваемся с реальностью войны и другими опасностями?
						li 
							span почему Ваши дети/партнёры/друзья и др. ведут себя неправильно?
						li 
							span в чём истинная причина Ваших страхов, депрессии, неуверенности и как с ними справиться?
						li 
							span как уменьшить количество проблем не только в своей жизни, но и в мире?
						li 
							span 4 закона созревания ментальных семян
						li 
							span 4 способа как ментальные семена могут открыться в Вашей жизни
						li 
							span 4 шага по засеву ментальных семян для гарантированного получения результата
						li 
							span практику по нейтрализации старых плохих семян
						li 
							span 4 медитации для изменения мира вокруг Вас через Ваше сознание
					h3 Результат:
					ul
						li 
							span Вы получаете ключ к устройству мира и сможете изменять Вашу реальность в любом желаемом направлении
						li 
							span Вы получаете ответы на давно мучавшие Вас вопросы, а также важные осознания
						li 
							span Ваша жизнь становится более благополучной, уходят “неразрешимые” проблемы и Вы достигаете даже труднодостижимых целей
						li 
							span Вы начинаете применять полученные знания прямо в ходе интенсива и получаете в этом поддержку и корректировку коучей проекта
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic")
		section.pay_table
			.container
				.table_container
					table.table.table-responsive
						thead.thead
							tr
								th
									h4 Состав пакета
								th#silver
									h4 Серебро
								th#gold
									h4 Золото
								th#diamond
									h4 Диамант
						tbody
							tr
								td
									p 4 занятия онлайн
								td
									p Да
								td
									p Да
								td
									p Да
							tr
								td
									p Записи занятий
								td
									p Да
								td
									p Да
								td
									p Да
							tr
								td
									p Поддержка, воодушевление, ответы на вопросы в группе в фейсбуке
								td
									p Да
								td
									p Да
								td
									p Да
							tr
								td
									p 2 консультации Ольги Авсон (Сильвер две по 0,5ч, Диамант две по *1ч)
								td.no
									p Нет
								td
									p Да
								td
									p Да
							tr
								td
									p Билет на семинар геше Майкла Роуча в Киеве 22-23 сентября
								td.no
									p Нет
								td.no
									p Нет
								td
									p Да
							tr
								td
									p.alert.big Цена до ___ августа
								td
									p.deleted 25 дол.
									p 19 дол.
									a(href="" target="_blank" class="btn btn-success") Выбрать
								td
									p.deleted 100дол.
									p 90 дол.
									a(href="" target="_blank" class="btn btn-success") Выбрать
								td
									p.deleted 500дол.
									p 470дол.
									a(href="" target="_blank" class="btn btn-success") Выбрать

				p.alert Оплатившим в течение первых 2-х часов после эфира подарок: дополнительное живое онлайн-занятие с Ольгой Авсон для ответа на Ваши вопросы по поводу Ваших ситуаций и практики КМ !!!
				p.text-center 10% от собранных оплат мы отправим на поддержку проекта сохранения наследия Тибета (ACIP) и иные благотворительные цели
	include pug/footer