<!DOCTYPE html>
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="author" content="Ольга Авсон")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(http-equiv="Cache-Control" content="no-cache")
		title Алмазная мудрость. Проект «Расширяем время»
		link(rel="icon", href="img/favicon.ico")
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic")
		link(rel="stylesheet", href="css/time.css")
	body
		section.time
			.container.jumbotron
				h1.text-center Проект «Расширяем время»
				p.text-center Время. Можно ли расширить его рамки, чтобы успевать больше? Тибетская мудрость учит, что весь наш мир происходит из ментальных семян в нашем сознании. «Если семена сели в автобус, то Вселенной придётся подвинуться» - говорит геше Майкл Роуч
				p.text-center Приходите на проект «Расширяем время», где мы используя методы из тибетских сутр будем созавать причины для того чтобы у Вас появилось реально больше свободного времени, чтобы вы могли успевать больше и были более довольны результатами.
				h3.text-center Оставьте свои контакты и мы пришлём детали
		include pug/footer