form.form_newsletter.form-group( action="https://amkm.autoweboffice.ru/?r=personal/newsletter/sub/add&id=3490&lg=ru" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" target="_blank")
	h3.text-center Получить древние знания в виде pdf-книги и приглашения на вебинары!
	<!-- Обязательный параметр. Не удалять и не изменять! -->
	input(type="hidden" value="6" name="Contact[id_newsletter]")
	<!-- API код канала рекламы -->
	input(type="hidden" value="0" name="Contact[id_advertising_channel_page]")
	div
		input.field_value.form-control(maxlength="255" name="Contact[name]" type="text" placeholder="Введите Ваше имя*")
	div
		input.field_value.form-control(maxlength="255" name="Contact[email]" type="text"  placeholder="Введите Ваш email*")
	div
		input.btn.btn-danger(value="Получить" type="submit")
	small.besides Вы получите книгу и приглашение 
		strong только после 
		| нажатия на ссылку активации, она придёт в письме
	p.politics Нажимая на кнопку, Вы даете согласие на обработку персональных данных. Никакого спама. Отписка в любой момент
	a(href="/politics.html" target="_blank") Политика конфиденциальности