// Восьмой экран
section.eighth_screen
	.container
		h3.text-center 6 видео-ОТЗЫВов
		.row
			.col-md-4
				h4.text-center За 1 год купили квартиру
					br
					small (отзыв Марины Хмеловской, Украина)
				br
				.video.js-video(data-youtube="2sjpq9opONo")
					img.img-thumbnail.video__img(src="img/marina.jpg", alt="Марина Хмеловская")
					button.video__play(type="button")
			.col-md-4
				h4.text-center Быстро нашла работу в чужой стране
					br
					small (отзыв Ксении Осауленко, Германия)
				.video.js-video(data-youtube="VDdyE1GuTxQ")
					img.img-thumbnail.video__img(src="img/xenia.jpg", alt="Ксения Осауленко")
					button.video__play(type="button")
			.col-md-4
				h4.text-center Улучшились разные сферы жизни
					br
					small (отзыв Зебо Абдулаевой, Дания)
				.video.js-video(data-youtube="RNQr9hmwtBc")
					img.img-thumbnail.video__img(src="img/zebo.jpg", alt="Зебо Абдулаева")
					button.video__play(type="button")
		.row
			.col-md-4
				h4.text-center Нашёл “вторую половинку”, создал семью
					br
					small (отзыв Благовеста Белчева, Болгария)
				.video.js-video(data-youtube="e1vGtcyxPSc")
					img.img-thumbnail.video__img(src="img/blagovest.jpg", alt="Благовест Белчев")
					button.video__play(type="button")
			.col-md-4
				h4.text-center Доходы бизнеса стабилизировались
					br
					small (отзыв Сергея Николайчука, Украина)
				.video.js-video(data-youtube="Jvie3-Dpu7c")
					img.img-thumbnail.video__img(src="img/sergey.jpg", alt="Сергей Николайчук")
					button.video__play(type="button")
			.col-md-4
				h4.text-center Получила важные осознания
					br
					small (отзыв Надежды Коротковой, Украина)
				br
				.video.js-video(data-youtube="aE0jXIM31Ms")
					img.img-thumbnail.video__img(src="img/nadejda.jpg", alt="Надежда Короткова")
					button.video__play(type="button")