// Превый экран
section.first_screen
	.container
		.jumbotron
			h1 Алмазная мудрость Тибета в 21 веке
			h2 Тибетский практический способ гарантированного получения желаемых результатов в жизни, проверенный 2500-летней  практикой
			.row
				.col-md-8
					img(src="img/attantion.jpg", alt="Восклицательный знак" class="img-thumbnail pull-left")
					p Этим знаниям более 2,5 тысяч лет, но они были закрыты. Мы живем в уникальное время, когда эти сакральные знания стали доступны Вам
					img(src="img/attantion.jpg", alt="Восклицательный знак" class="img-thumbnail pull-left")
					p Практики универсальны и работают на решение проблем и достижение целей в любой сфере жизни 
					img(src="img/attantion.jpg", alt="Восклицательный знак" class="img-thumbnail pull-left")
					p Практики воздействуют на самые глубинные причины происходящего с Вами. Поэтому они столь мощные
				.col-md-4.form_group
					h3.date Вебинар онлайн ____, ____,___ августа в _____ Мск/Киев 
					include _mail