// Подвал
footer#footer
	.container
		p.text-center &laquo;Алмазная мудрость Тибета&raquo; || &copy; Все права защищены || 2017г.
		p.text-center 
			a(href="https://olgaavson.com/?page=contacts" target="_blank") Контактная информация 
			||| 
			a(href="/products.html" target="_blank") Продукты
		p.text-center
			a(href="/dogovor-oferty.html" target="_blank") Публичная оферта