// Четвертый экран
section.fourth_screen
	.container
		h3.text-center Три самых главных результата от вебинара:
		.row
			.col-md-3
				img(src="img/clearness.jpg", alt="100% ясность" class="img-thumbnail")
				h4.text-center 100% ясность
				p.text-center Вы начнете понимать истинные причины происходящего. Не предполагать и догадываться, а точно знать причины и следствия любых событий
			.col-md-1.text-center
				span.glyphicon.glyphicon-arrow-right(aria-hidden="true")
				span.glyphicon.glyphicon-arrow-down(aria-hidden="true")
			.col-md-3
				img(src="img/100%25.jpg", alt="100% уверенность" class="img-thumbnail")
				h4.text-center 100% уверенность
				p.text-center Зная первопричину неурядиц, вы получаете работающий метод для их устранения. Это гарантированный способ решения любых проблем и достижения любых целей
			.col-md-1.text-center
				span.glyphicon.glyphicon-arrow-right(aria-hidden="true")
				span.glyphicon.glyphicon-arrow-down(aria-hidden="true")
			.col-md-3
				img(src="img/ruling.jpg", alt="100% управление жизнью" class="img-thumbnail")
				h4.text-center 100% управление жизнью
				p.text-center Зная первопричину и имея в руках нужные инструменты, вы учитесь управлять событиями. То есть управлять своей жизнью на все сто и не зависеть от случая