head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="author" content="Ольга Авсон")
	meta(name="description" content="")
	meta(name="keywords" content="алмазная мудрость, алмазная мудрость Тибета, алмазный огранщик, огранщик алмаза, система огранщика алмаза, система алмазной мудрости, мудрость Тибета, тибетская мудрость, древние знания, буддизм, буддийский взгляд на мир, буддистский взгляд на мир, геше Майкл Роуч, Майкл Роуч, Ольга Авсон, кармический менеджмент, управление судьбой, управление реальностью, создание желаемого, как изменить свою реальность, как изменить реальность, как управлять кармой, управление кармой, как изменить жизнь к лучшему, как исправить проблему, как решить проблемы, как решить проблему, как достичь цели, как достичь целей, как достичь цель, причина, причинно-следственные связи, причина и следствие, причины и следствия, причина-следствие, как быть здоровым, как избавиться от болезней, как найти свою любовь, как увеличить доход, как пробить финансовый потолок, как найти свое призвание, как найти самореализацию, как стать счастливым, как стать счастливой, как устроен мир, как устроена реальность, законы устройства мира, законы устройства реальности, как работает мир, щедрость причина богатства, ментальные семена, ментальные отпечатки, ментальне семя, ментальный отпечаток, карма, что такое карма, законы кармы, закон Вселенной, законы Вселенной, законы устройства Вселенной")
	meta(http-equiv="Cache-Control" content="no-cache")
	title Алмазная мудрость. Запись на вебинар
	link(rel="icon", href="img/favicon.ico")
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/styles.css")