head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="author" content="Ольга Авсон")
	meta(name="description" content="")
	meta(name="keywords" content="")
	meta(http-equiv="Cache-Control" content="no-cache")
	title Алмазная мудрость. Запись на вебинар
	link(rel="icon", href="img/favicon.ico")
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic")
	link(rel="stylesheet", href="css/styles.css")