// Девятый экран
section.ninth_screen
	.container
		.jumbotron
			h3.text-center Почему Вы читаете это? <br> Вероятно, всё не просто так... 
			p.text-center В  жизни не бывает случайностей. Попробуйте откликнуться на подсказку судьбы, сказать “Да” и посетить наш открытый вебинар. На нем вы сможете сами составить мнение о системе, хотите ли вы ее практиковать. По окончании вебинара у вас будут четкие простые шаги к решению Вашей проблемы
			.last_form
				include _mail
