// Девятый экран
section.ninth_screen
	.container
		.jumbotron
			h3.text-center Почему Вы читаете это? <br> Вероятно, всё не просто так... 
			p.text-center В жизни не бывает случайностей. Попробуйте откликнуться на подсказку судьбы, сказать “Да” и посетить наш открытый вебинар или хотя бы прочитать короткую методичку. Тогда вы сможете сами составить мнение о системе, хотите ли вы ее практиковать. После вебинара или методички у вас будут четкие простые шаги к решению Вашей проблемы
			p.text-center Оставьте Ваши данные, чтобы получить доступ
			.last_form
				include _mail
