// Скрипты
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Marck+Script&amp;subset=cyrillic")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="js/jquery-migrate.min.js")
script(src="js/scripts.js")