// Второй экран
section.second_screen
	.container
		.row
			.col-md-4
				img(src="img/GMR.jpg", alt="Майкл Геше Роуч" class="img-thumbnail pull-right")
			.col-md-8
				p.lead С помощью этих знаний простой монах, с нуля - без бизнес-образования, навыков, связей и стартового капитала - смог организовать алмазную компанию с доходом 100 млн.дол.США ежегодно! Компания ежегодно удваивала размер своих доходов, что беспрецедентно для этой индустрии. И всего этого он достиг только благодаря следованию принципам древней Алмазной мудрости Тибета, которые он изучил в монастыре. И теперь он передает эти мощнейшие знания нам!!!