// Седьмой экран
section.seventh_screen
	.container
		h3.text-center АВТОР и ВЕДУЩАЯ
		.col-md-4
			img(src="img/olga.png", alt="Ольга Авсон" class="img-thumbnail pull-right")
		.col-md-8
			h4 Ольга Авсон
			ul.lead
				li 
					span лайф-коуч;
				li 
					span переводчик учений Института азиатской классики;
				li 
					span продюсер и спикер конференций и фестивалей;
				li 
					span имеет 2 ступень Reiki Usui Shiki Ryoho;
				li 
					span сертификат 6-й ступени Института алмазного огранщика (США);
				li 
					span обучалась в Институте азиатской классики, в ашраме Сатья Саи Бабы, у тибетского монаха Геше Майкла Роуча по линии от Будды и Далай Лам;
				li 
					span Магистр Кембриджского университета, кандидат наук;
				li 
					span Ведет международную группу «Кармический менеджмент», коллективные медитации