// Шестой экран
section.sixth_screen
	.container
		h3.text-center В результате вы  получаете:
		.rel
			.hosL
			.row
				.col-md-4
					p.text-center
						span.glyphicon.glyphicon-piggy-bank
					p.text-center Благополучную жизнь для вас и ваших близких
				.col-md-4
					p.text-center
						span.glyphicon.glyphicon-road
					p.text-center Уверенность в завтрашнем дне, доверие будущему
			.row
				.col-md-4
					p.text-center
						span.glyphicon.glyphicon-question-sign
					p.text-center Ответ на вопрос “За что?” и “Почему я?” и как это изменить
				.col-md-4
					p.text-center
						span.glyphicon.glyphicon-refresh
					p.text-center Ответы на вопросы об устройстве жизни и мира
			.row
				.col-md-6
					p.text-center
						span.glyphicon.glyphicon-globe
					p.text-center Здоровье, материальное благополучие, прекрасные отношения, счастье и гармония - у вас и вокруг вас