// Третий экран
section.third_screen#third_screen
	.container
		h3.text-center Вам это знакомо?
		.col-md-6
			img(src="img/6334.jpg", alt="Замкнутый круг" class="img-thumbnail")
			h4.text-center Замкнутый круг
			p.text-center Вас преследуют похожие ситуации и проблемы. Вы никак не можете пробить “потолок”, словно застряли на определенном уровне жизни и что-то не дает вырасти
		.col-md-6
			img(src="img/cbt.jpg", alt="Ничего не работает" class="img-thumbnail")
			h4.text-center Ничего не работает
			p.text-center За спиной десятки тренингов и методов, но они не дают желаемого эффекта. Ваша проблема отчаянно не хочет решаться, прогресс идет медленно. И кажется, что ничего уже не сработает