 vanile = #FFFAF0

body
	font-family: 'Roboto', sans-serif
	font-size 18px
	
/*! Главный экран */
@import 'comp/first_screen'
/*! Второй экран */
@import 'comp/second_screen'
/*! Третий экран */
@import 'comp/third_screen'