vanile = #FFFAF0
brown_h1 = #85200c
brown = #91230D

body
	font-family: 'Roboto', sans-serif
	font-size 18px
	
h3,
h4
	color brown
	
/*! Главный экран */
@import 'comp/first_screen'
/*! Второй экран */
@import 'comp/second_screen'
/*! Третий экран */
@import 'comp/third_screen'
/*! Четвертый экран */
@import 'comp/fourth_screen'
/*! Экран подписки */
@import 'comp/mail_screen'