vanile = #FFFAF0
brown_h1 = #85200c
brown = #91230D

body
	font-family: 'Roboto', sans-serif
	font-size 18px
	
h3
	margin 0 0 40px
	font-size 26px
	font-weight 900
	color brown

h4
	font-weight 900
	margin-top 20px
	font-size 22px
	color brown
	
/*! Главный экран */
@import 'comp/first_screen'
/*! Второй экран */
@import 'comp/second_screen'
/*! Третий экран */
@import 'comp/third_screen'
/*! Четвертый экран */
@import 'comp/fourth_screen'
/*! Экран подписки пятый*/
@import 'comp/mail_screen'
/*! Шестой экран */
@import 'comp/sixth_screen'
/*! Седьмой экран */
@import 'comp/seventh_screen'
/*! Восьмой экран */
@import 'comp/eighth_screen'
/*! Девятый экран */
@import 'comp/ninth_screen'
/*! Подвал */
@import 'comp/footer'

@media (max-width: 768px)
	.col-md-1.text-center
		width 100%
	.glyphicon.glyphicon-arrow-down
		display block
	.glyphicon.glyphicon-arrow-right
		display none